header{
  background-image: url(../assets/Background_Intro.png);
  width: 1366px;
  height: 750px;

  background-size: cover;
  margin: 120px auto;

  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#image img{
  margin: 120px auto 56px;
  background-image: url(../assets/icons/Code.svg);
  background-repeat: no-repeat;
  background-position: absolute;
  background-position: right bottom;
  background-size: 32px 32px
}



#info{
  text-align: center;
  
}

header h2{
  font-family:'inconsolata', sans-serif;
  color: var(--gray500-color);
  font: var(--subtitle);
  font-weight: 400;
  font-size: 24px;
}

header h2 span{
  color: var(--red-color);
}

header h1{
  color: var(--gray600-color);
  font-family: 'Asap', sans-serif;
  font: var(--h1);
  font-size:  67px;
}

#text{
  
  align-content: center;
  text-align: center;
  margin: auto;
  
}

header p{
  padding-top: 20px;
  font-family: 'Maven Pro', sans-serif;
  font: var(--text-md);
  color: var(--gray400-color);
  font-size: 14px;
  width: 680px;
  margin: auto;
}

#tags{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 80px;
}


#tags div{
  background-color: var(--gray300-color);
  display: flex;
  /* width: 114px; */
  height: 40px;
  border-radius: 24px;
  align-items: center;
  gap: 8px;
  
}

#tags div img{
  height: 24px;
  width: 24px;
  margin-left: 16px;
  margin-top: 8px;
  margin-bottom: 8px;
}

#tags div p{
  font: var(--text-md);
  padding-top: 8px;
  padding-bottom: 8px;
}

#tags div:nth-child(1){
  width: 114px;
}
#tags div:nth-child(2){
  width: 105px;
}
#tags div:nth-child(3){
  width: 92px;
}
#tags div:nth-child(4){
  width: 138px;
}
#tags div:nth-child(5){
  width: 106px;
}
#tags div:nth-child(6){
  width: 119px;
}

#scroll{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 94px;
}